.react-select__control {
  min-height: 38px !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.react-select__control:hover {
  border-color: #ced4da !important;
}

.react-select__control--is-focused {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.react-select__option {
  background: #fff !important;
  color: #212529 !important;
}

.react-select__option--is-focused {
  background: #f8f9fa !important;
  color: #212529 !important;
}

.react-select__option--is-selected {
  background: #f8f9fa !important;
  color: #212529 !important;
  font-weight: 500;
}

.react-select__indicator-separator {
  display: none;
}